@media(max-width:613px){
    .line{
        display: none;
    }
}
@media (max-width:820px){
    .features-box{
        margin-left: 200px;
    }
}
@media(max-width: 630px){
    .features-box{
        margin-left: 0px;
    }
}

@media(max-width: 430px){
    .features-box{
        width: 200px;
        text-align: center;
        margin-left: 10px;
    }
    .blog01{
        width: 180px;
        
        

    }
}

@media (max-width: 830px){
    .border2{
        left: 0;
        top: 0;
    }
}
@media (max-width:830px){
    .yoga{
        position: unset; 
        padding-left: 15px;
        
    }
.anna-miller{
     max-width: 200px;
     width: 100%;
}
.blog01{
    margin-left: 100px;
}
}
@media (max-width:540px){
    .miller{
        position: unset;
        margin-top: 260px;
    }
    .border2{
        max-width: 493px;
        width: 100%;
    }

}
@media (max-width:340px){
    .teacher{
        width: 100%;
    }
}
@media (max-width:1041px){
    .section0303{
        display: none;
    }
}
@media (max-width: 1000px) {
    .next {
        display: none;
    }
    .burger-icon {
        display: block;
        
    }
  }

  @media (max-width: 1039px){
      .print{
          max-width: 1190px;
          width: 100%;
      }
      .ectangle{
          width: 800px;
          
      }

      .recgle{
          width: 800px;
      }
  }

  @media (max-width: 900px){
    .ectangle{
        width: 680px;
        
    }
    .recgle{
        width: 680px;
    }
  }
  @media (max-width: 790px){
    .ectangle{
        width: 200px;
        
    }
    .recgle{
        width: 200px;
    }
  }