/* header */
body{
    margin-top: 130px;
}
.bg-header{
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    z-index: 50;
    
}
.logo{
    color: black;
    font-size: 70px;
    
}
.nav-li{
    color: #7F7F7F;
    font-size: 18px;
    margin-right: 74px;
    
    
}
.navigation{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}
.nav-ul{
    display: flex;
    
}

.fa-search{
    color: black;
    margin-right: 25px;
}
.fa-instagram,
.fa-twitter,
.fa-facebook-f {
    color: black;
    margin-right: 5px;
}
.fa-shopping-bag{
    color: black;
    margin-left: 25px;
}

/* section1 */
.section1{
    background-image: url(../images/image.svg);
    height: 938px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    

}
.container1{
    background-color: #fff;
    max-width: 706px;
    width: 100%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 49;


}
.container2{
    border-style: solid;
    border-width: 1px;
    border-color: #36413e;
    margin: 16px;
}

.title1{
    color: #19381F;
    font-family: 'Markazi Text', serif;
    font-size: 40px;
    max-width: 502px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.line{
    position: absolute;
    background-color: #36413e;
    width: 476px;
    height: 1px;
    left: 120px;
    
    
    
}
.gray{
    color: #7F7F7F;
    max-width: 450px;
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px;

}
.line2{
    text-align: center;
    margin-bottom: 20px;
}
.line3{
    text-decoration: underline;
    font-size: 14px;
    color: #7F7F7F;
}
/* section2 */
.section2{
    background-color: #fae8eb;
    
}
.box2{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding-top: 87px;
}
.women{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: #19381F;
}
.features{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    color: #19381F;
}
.features-box{
    background-color: #fff;
    max-width: 407px;
    width: 100%;
    margin-left: 390px;
}
.picture{
    margin-top: 131px;
    position: relative;
    z-index: 48;
    background-image: url(../images/anna.png);
    height: 493px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 493px;
    width: 100%;

}
.border2{
    border-style: solid;
    border-color: #306b34;
    width: 493px;
    height: 493px;
    position: absolute;
    border-width: 3px;
    left: 19px;
    top: 21.5px;
}
.wraper1{
    display: flex;
    
    
}
.miller{
    position: absolute;
    top: 100px;
    left: 400px;

}
.anna-miller{
    width: 350px;
    background-color: #f9cfbc;
}
.anmi{
    font-size: 20px;
    color: #19381f;
    padding: 20px;
    text-align: center;
    font-family: 'Vollkorn SC', serif;
}
.linebox123{
    display: flex;
    flex-wrap: wrap;
    
}
.yoga{

    position: absolute;
    top: 170px;
    left: 525px;
   
}
.teacher{
   
    font-size: 20px;
    font-style: italic;
    color: #7f7f7f;
    width: 300px;
    margin-top: 31px;
    
    
}
.story{
    margin-top: 30px;
    color: #7F7F7F;
    text-decoration: underline;
    font-size: 14px;
    
}
.stick01{
    position: relative;
}
.stick{
    background-image: url(../images/stick.svg);
    height: 277px;
    max-width: 224px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 384.5px;
    top: -5px;
    position: absolute;
}
.picture02{
    background-image: url(../images/whm.svg);
    height: 502px;
    max-width: 502px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    position: relative;
    right: 130px;
    

}
.box3{
    max-width: 902px;
    width: 100%;
    margin-top: 220px;
    display: flex;
    
    
    
}
.kayla{
    background-color: #F9CFBC;
    max-width: 600px;
    width: 100%;
    position: absolute;
    bottom: 350px;
    right: 323px;   
    z-index: 45;

    
}
.reynolds{
    font-size: 30px;
    color: #19381f;
    padding: 20px;
    text-align: center;
    font-family: 'Vollkorn SC', serif;

    
    
}
.line4{
    margin-top: 96px;
    text-align: start;
    max-width: 482px;
    width: 100%;
    

    
}
.fashion{
    max-width: 306px;
    width: 100%;
    font-size: 20px;
    font-style: italic;
    color: #7f7f7f;
    margin-top: 100px;
    margin-bottom: 30px;
    
    
}
.story2{
    
    color: #7F7F7F;
    text-decoration: underline;
    font-size: 14px;
}
.border02{
    border-style: solid;
    border-color: #306b34;
    width: 450px;
    height: 493px;
    position: absolute;
    border-width: 3px;
    left: -19px;
    top: 21.5px;
    z-index: 44;
}
.stick01-2{
    position: relative;
}
.stick-2{
    background-image: url(../images/stick2.svg);
    height: 248px;
    max-width: 224px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 200px;
    z-index: 41;

}
.picture-3{
    background-image: url(../images/whm2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 502px;
    width: 100%;
    height: 502px;
    position: relative;
    z-index: 43;
    
}
.fox{
    margin-top: 214px;
    padding-bottom: 186px;
    
}
.fox2{
    border-style: solid;
    border-color: #306b34;
    max-width: 502px;
    width: 100%;
    height: 502px;
    position: absolute;
    border-width: 3px;
    left: 19px;
    top: 21.5px;
    z-index: 38;
}
.cindy{
    background-color: #F9CFBC;
    max-width: 482px;
    width: 100%;
    
    position: absolute;
    left: 350px;
    top: 130px;
    z-index: 39;

}
.chung{
    font-size: 30px;
    color: #19381f;
    padding: 20px;
    text-align: center;
    font-family: 'Vollkorn SC', serif;
}
.who{
    max-width: 306px;
    width: 100%;
    font-size: 20px;
    font-style: italic;
    color: #7f7f7f;
    position: absolute;
    left: 540px;
    top: 280px;
}
.read{
    color: #7F7F7F;
    text-decoration: underline;
    font-size: 14px;
    position: absolute;
    max-width: 107px;
    width: 100%;
    left: 540px;
    top: 400px;
}
/* section3 */
.the{
    
    width: 1000px;
    margin-bottom: 65px;
    margin: 0 auto;
}
.on{
    font-size: 40px;
    font-style: italic;
    text-align: center;
    padding-top: 87px;
    color: #36413e;

}
.blog01{
    background-color: #F9CFBC;
    max-width: 350px;
    width: 100%;
    margin-left: 407px;
}
.blog02{
    font-size: 40px;
    color: #36413e;
    text-align: center;
}
.picback{
    background-image: url(../images/girlback.svg);
    height: 321px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 151.5px;
    position: relative;
    z-index: 37;
}
.blog-section{
    /* position: relative; */
}
.classs{
    position: absolute;
    top: -92px;
    left: 215px;
    z-index: 38;
}
.picgro{
    background-image: url(../images/ound.svg);
    height: 367.5px;
    width: 100%;
    background-size: cover;
    margin-top: 234.5px;
    position: relative;
    
}
.category{
    position: absolute;
    left: 610px;
    top: -293px;
    z-index: 39;
}

.beauty{
    position: absolute;
    left: 190px;
    top: 140px;
    z-index: 40;

}
.an01{
    background-image: url(../images/an01.svg);
    height: 306px;
    width: 100%;
    background-size: cover;
    position: relative;
    top: 450px;
}
.career{
    position: absolute;
    left: 622px;
    top: -293px;
}
.beautybox{
    max-width: 270px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 230px;
    left: 109.7px;
}
.borderborder{
    border-style: solid;
    border-width: 1px;
    border-color: #36413e;
    background-color: #fff;
    margin: 14px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 23px;
}
.avel{
    color: #19381f;
    font-size: 40px;
    text-decoration: underline;
}
.auty01{
    max-width: 270px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 200px;
    left: 109.7px;
}
.auty02{
    border-style: solid;
    border-width: 1px;
    border-color: #36413e;
    background-color: #fff;
    margin: 14px;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 23px;
}
.auty03{
    color: #19381f;
    font-size: 40px;
    text-decoration: underline;
}
.eer01{
    max-width: 270px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 185px;
    left: 130px;
}
.eer02{
    border-style: solid;
    border-width: 1px;
    border-color: #36413e;
    background-color: #fff;
    margin: 14px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 37px;
}
.eer03{
    color: #19381f;
    font-size: 40px;
    text-decoration: underline;
}